::-moz-selection{text-shadow:none;background:#BBDEFB}::selection{text-shadow:none;background:#BBDEFB}img::selection{background:0 0}img::-moz-selection{background:0 0}body{webkit-tap-highlight-color:#fed136}.error-msg{color:#a94442}
